.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    padding: 0; 
    margin: 0;
  }
  
.glowing-blue-button {
    display: inline-block;
    background-color: #0b5394; /* Bright Red */
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: 12px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
  
.glowing-blue-button:hover {
    background-color: #093f6e; /* Darker Red */
    animation: glow 3s infinite ease-in-out;
}

@keyframes glow {
    0% {
      /* transform: scale(1); */
      box-shadow: 0 0 10px rgba(0, 200, 255, 0.6);
    }
    50% {
      /* transform: scale(1.05); */
      box-shadow: 0 0 10px rgba(0, 200, 255, 0.8);
    }
    100% {
      /* transform: scale(1); */
      box-shadow: 0 0 10px rgba(0, 200, 255, 0.6);
    }
  }